@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

::selection{
    background: #ED1556;
    color: #fff;
    text-shadow: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #272822;
  color: white;
  font-family: 'open sans';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

a[href]{
  text-decoration: none;
}

.red { color: #f92772; }
.green { color: #a6e22d; }
.yellow, .highlight { color: #e6db74; }
.bold { font-weight: bold; }

.flex-row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.page {
  position: relative;
  height: 100%;
}

.title {
  text-align: left;
  font-size: 32px;
}

.content {
  height: 100%;
}


/* intro */
.logo-item {
  margin-bottom: 20px;
}
.logo-item:last-child {
  margin-bottom: 55px;
}
.logo-container {
  padding-right: 15px
}
.logo-container ~ span {
  flex: 1 0 0;
  white-space: nowrap;;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
}

#amirnissim {background-image: url(img/amirnissim.jpg);}
#everythingme {background-image: url(img/eme-logo.png);}
#fxos {background-image: url(img/fxos-logo.png);}

/* fxos */
#fxos-device {
  background: url(img/fxos-phone.png) center center no-repeat;
  height: 100%;
}

/* workflow */
.workflow {
  list-style: none;
  padding-left: 19px;
}
.workflow > li {
  margin-bottom: 12px;
  white-space: nowrap;
}
.workflow > li input[type="checkbox"] {
  position: relative;
  bottom: 2px;
  margin-right: 10px;
}