@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

::selection{
    background: #ED1556;
    color: #fff;
    text-shadow: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #272822;
  color: white;
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px 30px;
}

a[href]{
  text-decoration: none;
}

.red { color: #f92772; }
.green { color: #a6e22d; }
.bold { font-weight: bold; }
.yellow, .highlight { color: #e6db74; }

.centered {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;

  position: relative;
  height: 100%;
  margin-bottom: 50px;
  align-items: center;
}

.title {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(140, 220, 247);
}

.content {
    flex-direction: column;
    display: flex;
    position: relative;
    width: 100%;
    flex: auto;
    align-content: center;
    justify-content: center;
}

/* intro */
#link {
  font-weight: 400;
}

.logo-item {
  margin-bottom: 20px;
}
.logo-item:last-child {
  margin-bottom: 55px;
}
.logo-container {
  padding-right: 15px;
}
.logo-container ~ span {
    flex: 1 0 0;
    white-space: nowrap;;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  float: right;;
}

#amirnissim {background-image: url(img/amirnissim.jpg);}
#everythingme {background-image: url(img/eme-logo.png);}
#fxos-logo {background-image: url(img/fxos-logo.png);}


/* workflow */
.list {
  margin-top: 0;
  padding-left: 21px;
}

.list li {
  margin-bottom: 12px;
}

#workflow li {
  cursor: pointer;
  transition-property: text-decoration, color;
  /*transition-duration: 0.4s;*/
  transition-timing-function: ease-in;
}
#workflow > li {
  opacity: 0.3;
}

#workflow li.active,
#workflow li.active li {
  opacity: 1;
  color: #e6db74;
}